{% extends "layout.html" %}

{% block title %}Arvostelun muokkaus{% endblock %}

{% block content %}
<h2>{{ book.title }}</h2>
<h3> Arvostelun muokkaus </h3>
<form action="/update_book" method="post">
{% for class in all_classes %}
<p>
    <label for="class{{ class }}">{{ class }}</label>: <br />
    <select name="classes" id="class{{ class }}">
        <option value="">valitse</option>
    {% for option in all_classes[class] %}
        {% if classes[class] == option %}
        <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
        {% else %}
        <option value="{{ class }}:{{ option }}">{{ option }}</option>
        {% endif %}
    {% endfor %}
    </select>
</p>
{% endfor %}
        <label for="review">Arvostelu</label>: <br />
        <textarea name="review" id="review" rows="8" cols="80">{{ book.review }}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    <input type="hidden" name="book_id" value="{{ book.id }}"/>
    <input type="submit" value="Päivitä arvostelua" />
</form>
<p>
    <a href="/book/{{ book.id }}">Takaisin arvosteluun</a>
</p>
{% endblock %}