<!DOCTYPE html>
<html>

<head>
  <title>Kirjakerho</title>
</head>

<body>
  <h1>Kirjakerho</h1>

  {% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  {% endif %}

  <p>
    <a href="/find_book">Etsi kirja-arvostelu</a> |
  {% if session.user_id %}
    <a href="/new_book">Uusi kirja-arvostelu</a> |
    <a href="/logout">Kirjaudu ulos</a>
  {% else %}
    <a href="/login">Kirjaudu sisään</a> |
    <a href="/register">Luo tunnus</a>
  {% endif %}
  </p>

  <h2>Kirja-arvostelut</h2>

  <ul>
    {% for book in books %}
    <li><a href="/book/{{ book.id }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>

</body>

</html>