{% extends "layout.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h2>{{ book.title }}</h2>
{% if session.user_id == book.user_id %}
<p>
    <a href="/edit_book/{{ book.id }}">Muokkaa</a>
    <a href="/remove_book/{{ book.id }}">Poista</a>
</p>
{% endif %}
<p>
    {{ book.author }}
</p>
{% if classes %}
<ul>
    {% for class in classes %}
    <li>{{ class.title }}: {{ class.value }}</li>
    {% endfor %}
</ul>
{% endif %}
<p>
    Arvostelu: {{ book.review }}
</p>
<p>
    Käyttäjä: <a href="/user/{{ book.user_id }}">{{ book.username }}</a>
</p>
{% endblock %}